:host {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10000;
  margin-bottom: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  width: 310px;
  height: 310px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.card-title {
  font-weight: normal;
  font-size: 26px;
  color: #3D4756;
  width: 100%;
  line-height: 100%;
}

.outer-card-title {
  padding-left: 50px;
  height: 27%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.card-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
}

.card-contents-all {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 73%;
  width: 100%;
  overflow-y: auto;
}

.contents-date {
  font-weight: 200;
  font-size: 24px;
  color: #3D4756CC;
}

.contents-grade {
  font-weight: 500;
  font-size: 28px;
  color: #3D4756CC;
  width: 30px;
  text-align: right;
}

.first-line {
  height: 1px;
  width: 80%;
  border-radius: 250px;
  background: #3D475640;
  margin-bottom: 20px;
}

.second-line {
  height: 1px;
  width: 80%;
  border-radius: 250px;
  background: #3D475640;
  margin-top: 20px;
}

.average-grade {
  font-weight: 500;
  font-size: 28px;
  color: #3D4756;
  margin-top: 8px;
  margin-bottom: 8px;
}

.outer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px 0 20px 85px;
}