<!-- <div class='containers'>
    <app-assignments-card [title]="'This week: ' + data.length" [data]="data"></app-assignments-card>
    <app-assignments-card [title]="'Last week: ' + data.length" [data]="data"></app-assignments-card>
    <app-assignments-card [title]="'Earlier: ' + data.length" [data]="data"></app-assignments-card>
</div> -->

<ion-content>
    <ion-accordion-group multiple="true">
        <ion-accordion *ngFor="let title of titles" [value]="title">
            <ion-item slot="header" color="light">
              <ion-label>{{ title }}</ion-label>
            </ion-item>
            <ion-card slot="content" class="assignment ion-padding" *ngFor="let assignment of data">
                <ion-col>
                    <h3 class='title light-90'>{{assignment.title}}</h3>
                    <p class='light-80'>Due date: {{assignment.dueDate}}</p>
                </ion-col>
                <div>
                    <ion-row class='class-label'>
                        <ion-img src='assets/leaf.png' alt='leaf'></ion-img>
                        <h3 class='regular-90 subject'>{{assignment.class}}</h3>
                    </ion-row>
                    <p class='light-80' style="text-align: end;">Posted: {{assignment.createDate}}</p>
                </div>
            </ion-card>
          </ion-accordion>
    </ion-accordion-group>
</ion-content>