<!--To add more elements that disappear when pressing sign up, add [@fadeInOut]="loginInterract.authMode" to the element-->
<form class="glass">
    <input placeholder="E-mail" style="margin-bottom: 20px;">
    <input [@changeMargin]="loginInterract.authMode" placeholder="Password" style="margin-bottom: 20px;">
    <input [@fadeInOut]="loginInterract.authMode" placeholder="Confirm password" style="min-height: 0;">
    <button (click)="submit()" type="button">{{loginInterract.authMode=='signup'?"Log in":"Sign up"}}</button>
</form>