:host {
    height: 100%;
    min-width: 400px;
    background-color: #ffffffbb;
    border-radius: 2vw 0 0 2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.side-class {
    border-radius: 15px;
    border-color: #00000046;
    border-width: 1px;
    border-style: solid;
    width: 80%;
    display: flex;
}

.side-class:hover {
    cursor: pointer;

    img {
        transform: scale(1.2);
        transition-duration: 0.5s;
    }
}

.side-classes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    overflow: auto;
}

h3, label {
    margin: 0;
    color: #424242c7;
}

.class-data {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    h3 {
        font-size: 1.5em;
    }

    label {
        font-size: 1.2em;
    }
}

img {
    object-fit:contain;
}