<ion-header style='--background: transparent' mode='md'>
    <ion-toolbar style='--background: transparent'>
        <ion-title>
            <div style='display: flex; align-items: center'>
                <ion-img routerLink='' (click)="deleteClassID()" src='assets/back-arrow.svg'></ion-img>
                <ion-img src='assets/leaf.png'></ion-img>
                Save the turtles
            </div>
        </ion-title>
        <ion-row>
            <ion-col>Assignments stat</ion-col>
            <ion-col>Attendance stat</ion-col>
            <ion-col>Grades stat</ion-col>
        </ion-row>
        <ion-buttons class='chips'>
            <ion-chip [routerLink]='["../../" + getClassID() + "/announcements"]' [class.active]='getHref().includes("announcements")'>
                Announcements
            </ion-chip>
            <ion-chip [routerLink]='["../../" + getClassID() + "/grades"]' [class.active]='getHref().includes("grades")'>
                Grades
            </ion-chip>
            <ion-chip [routerLink]='["../../" + getClassID() + "/assignments"]' [class.active]='getHref().includes("assignments")'>
                Assignments
            </ion-chip>
            <ion-chip [routerLink]='["../../" + getClassID() + "/attendance"]' [class.active]='getHref().includes("attendance")'>
                Attendance
            </ion-chip>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngFor="let item of data" [ngSwitch]="item.type">
        <ion-card *ngSwitchCase="'announcement'">
            <p>Announcement</p> <!--Code for announcement card-->
        </ion-card>
        <ion-card *ngSwitchCase="'assignment'">
            <p>Assignment</p> <!--Code for assignment card-->
        </ion-card>
        <ion-card *ngSwitchCase="'grade'">
            <p>Grade</p> <!--Code for grade card-->
        </ion-card>
        <ion-card *ngSwitchCase="'absence'">
            <p>Absence</p> <!--Code for absence card-->
        </ion-card>
    </div>
</ion-content>