<!--To add more elements that disappear when pressing sign up, add [@fadeInOut]="getMode()" to the element-->
<form class='glass' [formGroup]='authForm' (ngSubmit)='onSubmit()'>
    <input type='text' formControlName='username' placeholder='Username' required>
    <input type='text' formControlName='name' placeholder='Name' [@fadeInOut]='getMode()' required>
    <input type='text' formControlName='surname' placeholder='Surname' [@fadeInOut]='getMode()' required>
    <input formControlName='email' placeholder='E-mail' [@fadeInOut]='getMode()' required>
    <input type='password' formControlName='password' placeholder='Password' style='margin-bottom: 0' required>
    <input type='password' formControlName='repeatPassword' [@fadeInOut]='getMode()' required
           placeholder='Confirm password' style='margin-top: 20px'>
    <button type='submit' [disabled]='!authForm.valid'>{{getMode() == 'true' ? "Log in" : "Sign up"}}</button>
</form>