button {
  font-size: 1.2rem;
  flex-grow: 1;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 1.5rem 2rem 1.5rem 2rem;
  height: 100%;
  width: 50%;
  box-shadow: 0 0.25rem 2rem 0.25rem rgba(0, 0, 0, 0.25);
}

.sign {
  border-radius: 1.25rem 0 0 1.25rem;
}

.log {
  border-radius: 0 1.25rem 1.25rem 0;
}