:host {
  width: 100%;
  align-items: flex-start;
  overflow: hidden;
}

ion-segment {
  max-width: 24rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  height: 3rem;

  color: rgba(var(--ion-color-text-rgb), .9);

  .segment-button-checked {
    --indicator-color: rgba(var(--ion-color-selected-rgb), 0.7);
  }
}

ion-content {
  --background: transparent;
  overflow: hidden;
  //--offset-bottom: hidden !important;
  --overflow: hidden;
}

.outer {
  max-width: 64rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  align-self: stretch;
}

ion-row {
  justify-content: center;
}