<div class="outer">
    <ion-row>
        <ion-segment mode="ios" [value]="getHref().includes('missing')?'missing':getHref().includes('assigned')?'assigned':'done'">
            <ion-segment-button routerLink="missing" value="missing">
              <ion-label>Missing</ion-label>
            </ion-segment-button>
            <ion-segment-button routerLink="assigned" value="assigned">
              <ion-label>Assigned</ion-label>
            </ion-segment-button>
            <ion-segment-button routerLink="done" value="done">
                <ion-label>Done</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-row>
</div>
<ion-content>
    <ion-router-outlet [animated]="false" style="position: static;"></ion-router-outlet>
</ion-content>
