:host {
  width: 100%;
  align-items: flex-start;
  //margin-left: 3rem;
  padding-left: 3rem;
  overflow: hidden;
}

ion-segment {
  max-width: 24rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  height: 3rem;
}

ion-content {
  --background: transparent;
  overflow: hidden;
  //--offset-bottom: hidden !important;
  --overflow: hidden;
}

.outer {
  max-width: 64rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  align-self: stretch;
}

ion-row {
  justify-content: center;
}

@media (max-width: 992px) {
  :host {
    padding-left: 0;
  }
}