<!--<div class='outer'>-->
<!--    <ion-header>-->
<!--        <ion-toolbar>-->
<!--            <ion-title>-->
<!--                <div style='display: flex'>-->
<!--                    <ion-img class='logo' src='assets/logo.png'></ion-img>-->
<!--                    Overall average: 10-->
<!--                </div>-->
<!--            </ion-title>-->
<!--            <ion-buttons slot='end'>-->
<!--                <ion-button class='chat-button' style='margin-right: 1rem' routerLink='/chat'>-->
<!--                    <ion-icon name='chatbubbles-outline'></ion-icon>-->
<!--                    Chat-->
<!--                </ion-button>-->
<!--                <ion-item class='popover' lines='none' id='student-trigger'>-->
<!--                    <ion-label class='ion-text-wrap text-overflow'>-->
<!--                        <p class='text-overflow'>Otilia Marculescu</p>-->
<!--                    </ion-label>-->
<!--                    <ion-icon name='chevron-down'></ion-icon>-->
<!--                </ion-item>-->
<!--                <ion-popover trigger='student-trigger' trigger-action='click' size='auto' show-backdrop='false'-->
<!--                             keep-contents-mounted='true' arrow='false' dismiss-on-select='true'>-->
<!--                    <ng-template>-->
<!--                        <ion-list class='popover-options'>-->
<!--                            <ion-item button='true' class='dropdown-item' *ngFor='let item of data'>-->
<!--                                <ion-label>{{ item.name }}</ion-label>-->
<!--                            </ion-item>-->
<!--                        </ion-list>-->
<!--                    </ng-template>-->
<!--                </ion-popover>-->
<!--                <ion-button id='profile-trigger' style='margin-left: 1rem'>-->
<!--                    <ion-img style='width: 2.8rem' src='assets/account.png'></ion-img>-->
<!--                </ion-button>-->
<!--                <ion-popover trigger='profile-trigger' trigger-action='click' size='auto' show-backdrop='false'-->
<!--                             keep-contents-mounted='true' dismiss-on-select='true'>-->
<!--                    <ng-template>-->
<!--                        <ion-list class='popover-options'>-->
<!--                            <ion-menu-toggle auto-hide='false'>-->
<!--                                <ion-item class='dropdown-item' [routerLink]='["auth"]' (click)='logOut()'-->
<!--                                          detail='false'>-->
<!--                                    <ion-icon name='log-out-outline'></ion-icon>-->
<!--                                    <ion-label>Logout</ion-label>-->
<!--                                </ion-item>-->
<!--                            </ion-menu-toggle>-->
<!--                            <ion-menu-toggle auto-hide='false'>-->
<!--                                <ion-item class='dropdown-item' routerLink='/settings' detail='false'>-->
<!--                                    <ion-icon name='settings-outline'></ion-icon>-->
<!--                                    <ion-label>Settings</ion-label>-->
<!--                                </ion-item>-->
<!--                            </ion-menu-toggle>-->
<!--                            <ion-item class='dropdown-item' button='true' lines='none' detail='false'-->
<!--                                      id='theme-trigger'>-->
<!--                                <ion-icon name='color-palette-outline'></ion-icon>-->
<!--                                <ion-label>Theme</ion-label>-->
<!--                            </ion-item>-->
<!--                            <ion-popover trigger='theme-trigger' keep-contents-mounted='true'-->
<!--                                         arrow='false' alignment='start' size='auto' side='start'>-->
<!--                                <ng-template>-->
<!--                                    <ion-list class='popover-options'>-->
<!--                                        <ion-radio-group [value]='getTheme()'>-->
<!--                                            <ion-item class='dropdown-item' [button]='true' [detail]='false'-->
<!--                                                      (click)='setTheme("light")'>-->
<!--                                                <ion-icon name='sunny-outline'></ion-icon>-->
<!--                                                <ion-radio value='light'>-->
<!--                                                    <ion-label>Light</ion-label>-->
<!--                                                </ion-radio>-->
<!--                                            </ion-item>-->
<!--                                            <ion-item class='dropdown-item' [button]='true' [detail]='false'-->
<!--                                                      (click)='setTheme("dark")'>-->
<!--                                                <ion-icon name='moon-outline'></ion-icon>-->
<!--                                                <ion-radio value='dark'>-->
<!--                                                    <ion-label>Dark</ion-label>-->
<!--                                                </ion-radio>-->
<!--                                            </ion-item>-->
<!--                                            <ion-item class='dropdown-item' [button]='true' [detail]='false'-->
<!--                                                      (click)='setTheme("system")'-->
<!--                                                      lines='none'>-->
<!--                                                <ion-icon name='contrast-outline'></ion-icon>-->
<!--                                                <ion-radio value='system'>-->
<!--                                                    <ion-label>System</ion-label>-->
<!--                                                </ion-radio>-->
<!--                                            </ion-item>-->
<!--                                        </ion-radio-group>-->
<!--                                    </ion-list>-->
<!--                                </ng-template>-->
<!--                            </ion-popover>-->
<!--                        </ion-list>-->
<!--                    </ng-template>-->
<!--                </ion-popover>-->
<!--            </ion-buttons>-->
<!--        </ion-toolbar>-->
<!--    </ion-header>-->
<!--    <ion-buttons class='chips'>-->
<!--        <ion-chip [routerLink]='["./grades"]' [class.active]='getHref().includes("grades")'>Grades</ion-chip>-->
<!--        <ion-chip [routerLink]='["./attendance"]' [class.active]='getHref().includes("attendance")'>Attendance-->
<!--        </ion-chip>-->
<!--    </ion-buttons>-->
<!--    <ion-content style='&#45;&#45;background: transparent; &#45;&#45;overflow: hidden'>-->
<!--        <ion-router-outlet></ion-router-outlet>-->
<!--    </ion-content>-->
<!--    <ion-footer>ceva</ion-footer>-->
<!--    <div style='height: 20px'></div>-->
<!--</div>-->
<!--<div class='back'></div>-->

<ion-split-pane contentId='main-content' when='lg'>
    <ion-menu contentId='main-content' type='push' maxEdgeStart='350'>
        <ion-header>
            <img class='logo' src='assets/logo.png'>
            <h1 class='logo-title'><span style='font-weight: 300;'>School</span>Hub</h1>
        </ion-header>
        <ion-content class='side-classes'>
            <p>Select or add a child</p>
            <ion-item class='org' lines='none' id='org-trigger'>
                <ion-label class='ion-text-wrap text-overflow'>
                    <p class='text-overflow'>child</p>
                </ion-label>
                <ion-icon name='chevron-down'></ion-icon>
            </ion-item>
            <ion-popover trigger='org-trigger' trigger-action='click' size='cover' show-backdrop='false'
                         keep-contents-mounted='true' arrow='false' dismiss-on-select='true'>
                <ng-template>
                    <ion-list class='popover-options'>
                        <ion-item button='true' class='dropdown-item' *ngFor='let item of data'>
                            <ion-label>{{ item.name }}</ion-label>
                        </ion-item>
                        <ion-item class='dropdown-item' id='present-alert' [button]='true' lines='none'>
                            <ion-alert
                                    trigger='present-alert'
                                    header='Add child'
                                    [buttons]='alertButtons'
                                    [inputs]='alertInputs'
                                    translucent='true'
                            ></ion-alert>
                            <ion-icon name='add-circle-outline'></ion-icon>
                            <ion-label id=''>Add organization</ion-label>
                        </ion-item>
                    </ion-list>
                </ng-template>
            </ion-popover>
            <ion-list lines='none' class='side-classes'>
                <ion-menu-toggle auto-hide='false'>
                    <ion-item routerLink='./grades'>
                        <ion-icon name='trending-up-outline'></ion-icon>
                        <ion-label>
                            <h2>Grades</h2>
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle auto-hide='false'>
                    <ion-item routerLink='./grades'>
                        <ion-icon name='calendar-outline'></ion-icon>
                        <ion-label>
                            <h2>Attendance</h2>
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle auto-hide='false'>
                    <ion-item routerLink='./grades'>
                        <ion-icon name='chatbubbles-outline'></ion-icon>
                        <ion-label>
                            <h2>Chat</h2>
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
        <ion-footer>
            <ion-item class='profile' lines='none' id='profile-trigger' detail='true'>
                <ion-img src='assets/account.png'></ion-img>
                <ion-label>
                    <h2>Irena Olteanu</h2>
                    <p>Teacher</p>
                </ion-label>
            </ion-item>
            <ion-menu-toggle auto-hide='false'>
                <ion-item lines='none' routerLink='./settings'>
                    <ion-icon name='settings-outline'></ion-icon>
                    <ion-label>
                        <h2>Settings</h2>
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-item lines='none' id='theme-trigger' button='true'>
                <ion-icon name='chatbubbles-outline'></ion-icon>
                <ion-label>
                    <h2>Theme</h2>
                </ion-label>
            </ion-item>
            <ion-menu-toggle auto-hide='false'>
                <ion-item lines='none' routerLink='/auth' (click)='logOut()'>
                    <ion-icon name='log-out-outline'></ion-icon>
                    <ion-label>
                        <h2>Logout</h2>
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-popover trigger='theme-trigger' keep-contents-mounted='true' side='right'
                         alignment='end'
                         arrow='false'>
                <ng-template>
                    <ion-list class='popover-options'>
                        <ion-radio-group [value]='getTheme()'>
                            <ion-item class='dropdown-item' [button]='true' [detail]='false'
                                      (click)='setTheme("light")'>
                                <ion-icon name='sunny-outline'></ion-icon>
                                <ion-radio value='light'>
                                    <ion-label>Light</ion-label>
                                </ion-radio>
                            </ion-item>
                            <ion-item class='dropdown-item' [button]='true' [detail]='false'
                                      (click)='setTheme("dark")'>
                                <ion-icon name='moon-outline'></ion-icon>
                                <ion-radio value='dark'>
                                    <ion-label>Dark</ion-label>
                                </ion-radio>
                            </ion-item>
                            <ion-item class='dropdown-item' [button]='true' [detail]='false'
                                      (click)='setTheme("system")'
                                      lines='none'>
                                <ion-icon name='contrast-outline'></ion-icon>
                                <ion-radio value='system'>
                                    <ion-label>System</ion-label>
                                </ion-radio>
                            </ion-item>
                        </ion-radio-group>
                    </ion-list>
                </ng-template>
            </ion-popover>
        </ion-footer>
    </ion-menu>
    <ion-router-outlet [animated]='window.innerWidth < 992' id='main-content'></ion-router-outlet>
</ion-split-pane>
<div class='back'></div>
