<div class="account-list">
    <ion-card class="account" *ngFor="let user of users">
        <ion-img class="user-icon" src="../../../../assets/account.png"></ion-img>
        <ion-col>
            <p>{{ user.name }}</p>
            <p>{{ user.lastMessage }}</p>
        </ion-col>
    </ion-card>
</div>
<div style="display: flex; justify-content: flex-end; flex-direction: column; flex-grow: 1;">
    <div class="chat">
        <div class="message-container" *ngFor="let message of messages; let i = index">
            <ion-card class="timecard" *ngIf="hasTimeCard(i)">
                {{ message.timestamp | dateFormat }}
            </ion-card>
            <div class="message" [ngClass]="message.sender?'sender':'receiver'">
                <ion-img src="../../../../assets/account.png"></ion-img>
                <ion-card class="message-card">
                    {{ message.body }}
                    <div class="message-time">
                        {{ message.timestamp.getHours() }}:{{ message.timestamp.getMinutes() }}
                    </div>
                </ion-card>
            </div>
        </div>
    </div>
    <div class='chat-input' style='display: flex'>
        <ion-img src='assets/account.png'></ion-img>
        <form>
            <input placeholder='Write a comment...'>
            <button type='submit'>
                <ion-icon name='send'></ion-icon>
            </button>
        </form>
    </div>
</div>