:host {
  height: 100%;
  min-width: 20.5rem;
  max-width: 20.5rem;
  width: 20.5rem;
  background-color: var(--sideBarColor);
  border-radius: 2vw 0 0 2vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;
  position: relative;
}

.side-class {
  background-color: var(--boxColor);
  border-color: var(--boxBorderColor);
  border-radius: 1.5rem;
  border-width: 1px;
  border-style: solid;
  width: 80%;
  display: flex;
  min-height: 4.20rem;

  &:hover {
    cursor: pointer;

    img {
      transform: scale(1.4) translateY(-0.5rem);
      transition-duration: 0.3s;
    }
  }

  &:first-child {
    margin-top: 0.5rem;
  }
}

.side-classes {
  scrollbar-gutter: stable both-edges;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
}

h3, label {
  overflow: hidden;
}

.class-data {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h3 {
    font-size: 1.25rem;
    line-height: 1.4rem;
    -webkit-line-clamp: 2;
    padding-bottom: 2px;
  }

  label {
    font-size: 0.9rem;
    -webkit-line-clamp: 1;
  }
}

img {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 12%;
}

.dropdown {
  border-radius: 1.5rem;
  background-color: var(--boxColor);
  border-color: var(--boxBorderColor);
  border-width: 1px;
  border-style: solid;
  width: 80%;
  display: flex;
  flex-direction: column;

}

.position-org-dropdown {
  width: 100%;
  margin-bottom: 3rem;
}

.outer-org-dropdown {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  scrollbar-gutter: stable both-edges;
  overflow-y: scroll;
}

.org-dropdown {
  width: 80%;
  justify-content: center;
  line-height: 1.125rem;
  margin-bottom: 1.25rem;
  backdrop-filter: blur(8px);

  .current-org {
    display: flex;
    justify-content: space-between;

    p {
      font-size: 0.9rem;
      padding: 1px 0 1px 1rem;
    }

    img {
      width: 7%;
    }
  }
}

.position-account-dropdown {
  width: 100%;
  margin-top: 5rem;
}

.outer-account-dropdown {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  scrollbar-gutter: stable both-edges;
  overflow-y: scroll;
  bottom: 0.6rem;
}

.account-dropdown {
  width: 80%;
  justify-content: center;
  line-height: 1.125rem;
  backdrop-filter: blur(8px);
  display: flex;

  p {
    font-size: 0.9rem;
    padding: 1px 0 1px 1rem;
  }

  img {
    width: 17%;
    margin: 0.25rem;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.375rem;
    -webkit-line-clamp: 2;
    padding-bottom: 2px;
  }

  label {
    font-size: 0.75rem;
    -webkit-line-clamp: 1;
  }
}

.account {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-top: var(--boxBorderColor);
  border-top-width: 1px;

  width: 100%;
  align-self: center;
}

.account-action {
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-left: 1.25rem;

  img {
    width: 1.3rem;
    height: 1.3rem;
  }
}

.account-settings {
  margin-top: 0.75rem;
}

.top-sidebar {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.theme-icon {
  fill: rgba(var(--textColor), .7);
}

.create-btn {
  display: flex;
  margin-bottom: .5rem;
  margin-left: .75rem;
}