// TODO make the first leaf transition work

:host {
  height: 100%;
  min-width: 310px;
  max-width: 310px;
  width: 310px;
  background-color: #ffffffbb;
  border-radius: 2vw 0 0 2vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;
  position: relative;
}

.side-class {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 23px;
  border-color: #00000046;
  border-width: 1px;
  border-style: solid;
  width: 80%;
  display: flex;
  min-height: 67px;

}

.side-class:hover {
  cursor: pointer;

  img {
    transform: scale(1.3) translateY(-8px);
    transition-duration: 0.5s;
    overflow: visible;
  }

  overflow: visible;
}

.side-classes {
  scrollbar-gutter: stable both-edges;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

h3, label {
  margin: 0;
  color: rgba(61, 71, 86, 0.85);
  overflow: hidden;
}

.class-data {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    -webkit-line-clamp: 2;
    padding-bottom: 2px;
  }

  label {
    font-size: 15px;
    font-weight: 300;
    -webkit-line-clamp: 1;
  }
}

img {
  object-fit: contain;
  margin-left: 8px;
  margin-right: 8px;
  width: 12%;
}

.dropdown {
  border-radius: 23px;
  border-color: #00000046;
  border-width: 1px;
  border-style: solid;
  width: 80%;
  display: flex;
  flex-direction: column;

}

.position-org-dropdown {
  width: 100%;
  margin-bottom: 50px;
}

.outer-org-dropdown {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  scrollbar-gutter: stable both-edges;
  overflow-y: scroll;
}

.org-dropdown {
  width: 80%;
  justify-content: center;
  line-height: 18px;
  margin-bottom: 20px;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.6);
  .current-org {
    display: flex;
    justify-content: space-between;
    p {
      font-size: 0.9rem;
      margin: 0;
      padding: 1px 0 1px 15px;
      color: rgba(61, 71, 86, 0.6);
    }
    img {
      width: 7%;
    }
  }
}

.position-account-dropdown {
  width: 100%;
  margin-top: 80px;
}

.outer-account-dropdown {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  scrollbar-gutter: stable both-edges;
  overflow-y: scroll;
  bottom: 10px;
}

.account-dropdown {
  padding: 4px;
  width: 80%;
  justify-content: center;
  line-height: 18px;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;

  p {
    font-size: 0.9rem;
    margin: 0;
    padding: 1px 0 1px 15px;
    color: rgba(61, 71, 86, 0.6);
  }

  img {
    width: 17%;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    -webkit-line-clamp: 2;
    padding-bottom: 2px;
  }

  label {
    font-size: 12px;
    font-weight: 300;
    -webkit-line-clamp: 1;
  }
}

.account {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-top: #00000046;
  border-top-width: 1px;
  
  width: 90%;
  align-self: center;
}

.expanded {
  z-index: 1000;
}

.account-action {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 20px;
}

.account-settings {
  margin-top: 12px;
}