<div class="spawn">
    <div (mousedown)="spawnElementMouseDown(i, $event)" class="spawn-row" *ngFor="let equation of spawn; let i = index">
        <span>{{ equation }}</span>
    </div>
</div>
<div class="play">
    <svg [ngStyle]="{'opacity': tableOpen ? '.1' : '1'}" id="play" (mousemove)="playMouseMove($event)" (mouseup)="playMouseUp()" style="width: 100%; height: 100%;">
        <g id="compoundContainer">
            <text (mouseup)="displayPopover($event, i)" *ngFor="let compound of compounds; let i = index" (mousedown)="compoundMouseDown($event, i)" [attr.x]="compound.x" [attr.y]="compound.y" text-anchor="middle" font-size="64">
                <tspan *ngFor="let char of toArray(compound.formula)" [attr.font-size]="isNumber(char) ? '32' : '64'">{{ char }}</tspan>
            </text>
        </g>
    </svg>
    <ion-row class="open-table">
        <ion-button (click)="tableOpen = !tableOpen">Toggle table</ion-button>
    </ion-row>
</div>
<div [@tableAnimation]="tableOpen" class="table">
    <div class="element" *ngFor="let element of tableElements" [ngStyle]="{'top': (element.y - 1) * elementSize + 'vw', 'left': (element.x - 1) * elementSize + (85 - 18 * elementSize) / 2 + 'vw'}">
        <div (click)="!element.inactive?addElement(element):null" [class.inactive]="element.inactive" class="element-content">
            <label class="Z">{{ element.Z }}</label>
            <label class="symbol">{{ element.symbol }}</label>
            <label class="name">{{ element.name }}</label>
            <label class="mass">{{ element.mass }}</label>
        </div>
    </div>
</div>