<div class='cards-grid'>
    <ion-card *ngFor='let item of data'>
        <ion-card-header style='padding: 0.5rem 1rem 0 0'>
            <ion-card-title title='{{item.title}}'>
                <ion-item lines='inset'>
                    <ion-label ><h2>{{item.title}}</h2></ion-label>
                </ion-item>
            </ion-card-title>
        </ion-card-header>
        <ion-list>
            <ion-item class='grade' lines='none' *ngFor='let grade of item?.grades'>
                <ion-grid>
                    <ion-row>
                        <ion-col><p class='grade-grade'>{{grade.grade}}</p></ion-col>
                        <ion-col><p class='grade-date'>{{grade.date}}</p></ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
        <ion-row [class.footer-border]='item?.grades.length > 1'>
            <ion-col class='card-footer'>
                <h2>{{item?.grades.length > 1 ? calculateAverage(item?.grades).toFixed(2) : '' }}</h2></ion-col>
        </ion-row>
    </ion-card>
</div>

<ion-content>
    <ion-accordion-group multiple="true" mode='ios'>
        <ion-accordion *ngFor='let item of data'>
            <ion-item class='header' slot='header'>
                <ion-label style='display: flex;'>
                    <p style='max-width: 80%; margin: 0;'>{{item.title}}</p>
                    <p *ngIf='item?.grades.length > 1'> - {{calculateAverage(item?.grades).toFixed(2)}}</p>
                </ion-label>
                <ion-icon class='ion-accordion-toggle-icon' name='chevron-down' slot='end'></ion-icon>
            </ion-item>
            <ion-list slot='content'>
                <ion-item style='margin-left: 1rem' *ngFor='let grade of item?.grades' class='grade-item'>
                    <ion-grid>
                        <ion-row>
                            <ion-col><p style='font-weight: 500'>{{grade.grade}}</p></ion-col>
                            <ion-col size='9'><p>{{grade.date}}</p></ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>
        </ion-accordion>
    </ion-accordion-group>
</ion-content>
