:host {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(50deg, #EEEFEF 0%, #76B7FF 63.02%, #7484E3 99.48%);
    display: flex;
    justify-content: center;
    align-items: center;
}

body, html {
    width: 100vw;
    height: 100vh;
}

.main {
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    border-radius: 2vw;
    border-color: #fafafa7f;
    background: #e7e7e780;
    border-style: solid;
    border-width: 2px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.main-bar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin-left: 13px;
    flex-wrap: wrap;
    flex-grow: 1;
}