<ion-header style='--background: transparent' mode='md'>
    <ion-toolbar style='--background: transparent'>
        <ion-title>
            <div style='display: flex; align-items: center'>
                <ion-menu-toggle style='width: 2.2rem; margin-right: 0.5rem'>
                    <ion-img src='assets/account.png'></ion-img>
                </ion-menu-toggle>
                Overall average: 8.25
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<div class='cards-grid'>
    <app-grades-card *ngFor='let item of data' [item]='item'></app-grades-card>
</div>

<ion-content class='mobile'>
    <ion-accordion-group multiple='true' mode='ios'>
        <app-grades-accordion *ngFor='let item of data' [item]='item'></app-grades-accordion>
    </ion-accordion-group>
</ion-content>
