<!--To add more elements that disappear when pressing sign up, add [@fadeInOut]="getMode()" to the element-->
<form class='glass' [formGroup]='authForm' (ngSubmit)='onSubmit()'>
    <input type='text' formControlName='username' placeholder='Username'>
    <div class="names">
        <input type='text' formControlName='name' placeholder='Name' [@fadeInOut]='getMode()'>
        <input type='text' formControlName='surname' placeholder='Surname' [@fadeInOut]='getMode()'>
    </div>
    <input formControlName='email' placeholder='E-mail' [@fadeInOut]='getMode()'>
    <input type='password' formControlName='password' placeholder='Password' style='margin-bottom: 0' required>
    <input type='password' formControlName='repeatPassword' [@fadeInOut]='getMode()'
           placeholder='Confirm password' style='margin-top: 1.25rem'>
    <button type='submit'>{{getMode()? "Sign up" : "Log in"}}</button>
</form>