<div class='container'>
    <div class='logo-container'>
        <img class='logo' src='assets/logo.png'>
        <h1 class='logo-title'><span style='font-weight: 300;'>School</span>Hub</h1>
    </div>
    <div style='display: flex; margin-top: 1rem'>
        <div class='private-chat'>
            <p>SchoolHub</p>
            <ion-button routerLink='/'>
                <ion-icon name='arrow-forward'></ion-icon>
            </ion-button>
        </div>
        <div class='private-chat'>
            <p>SchoolHub Tools</p>
            <ion-button routerLink='/tools'>
                <ion-icon name='arrow-forward'></ion-icon>
            </ion-button>
        </div>
    </div>
    <div class='background'></div>
</div>
