<div class='container'>
    <div class='logo-container'>
        <ion-img class='logo' src='assets/logo.png'></ion-img>
        <h1 class='logo-title'><span style='font-weight: 300;'>School</span>Hub</h1>
    </div>
    <ion-row style='display: flex; margin-top: 1rem'>
        <ion-col class='private-chat'>
            <p>SchoolHub</p>
            <ion-button routerLink='/'>
                <ion-icon name='arrow-forward'></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col class='private-chat'>
            <p>SchoolHub Tools</p>
            <ion-button routerLink='/tools'>
                <ion-icon name='arrow-forward'></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
    <div class='background'></div>
</div>
