:host {
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 30px;
}

.card {
  flex-direction: column;
  width: 280px;
  height: 280px;
}

.card-title {
  padding-top: 5px;
  margin: 0;
  font-weight: 400;
  font-size: 23px;
  color: rgb(var(--textColor));
  width: 100%;
  line-height: 120%;
  overflow: hidden;
  line-clamp: 2;
}

.outer-card-title {
  min-height: 28%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
}

.card-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  gap: 40px;
}

.card-contents-all {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 73%;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 20px;
}

.contents-date {
  font-weight: 200;
  font-size: 22px;
  color: rgba(var(--textColor), .8);
  margin-left: 45px;
}

.outer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px 0 20px 56px;
}