:host {
    flex-direction: row;
	background: #0086ff;
}

.measure {
	position: absolute;
	visibility: hidden;
	height: auto;
	width: auto;
	white-space: nowrap;
	font-family:Font;
}

ion-col {
    padding: 0;
}

ion-row {
    width: 86vw;
}

.canvas {
    height: 80vh;
	background-color: rgb(136, 199, 255);
}

.textBox {
    display:flex;
	flex-wrap: wrap;
	padding-left: .75rem;
	padding: 0;
	height:20%;
	background-color: #ffffff;
	justify-content: flex-start;
	align-content:flex-start;
	overflow-y: auto;
	padding-bottom: 1rem;
}

.textBoxContentWord {
	margin:0;
	font-family: 'Whiteboard';
}

#canvasBox {
	.textBoxContentWord:hover {
		cursor: grab;
	}
}

.board {
    width: 86vw;
    flex: 1;
    flex-direction: column;
}

ion-split-pane {
    --side-width: 14%;
    justify-content: space-between;
}

ion-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	padding-top: 1rem;
	width: 14vw;
}

ion-range {
	padding: 0;
}

.punctuation-row {
	justify-content: space-evenly;
	width: 100%;
}

.sidebar {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 1rem;
}

.color-option {
	transition: 300ms all ease-in-out !important;

	&:hover {
		filter:brightness(1.1);
	}
}

textPath {
	font-family: 'Whiteboard';

	&:hover {
		cursor: pointer;
	}
}

* {
	user-select: none;
}