.background {
    background: url('../../../assets/login-background.svg');
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-repeat: repeat;
    background-attachment: fixed;
    filter: blur(4.20rem);
    transform: scale(1.2);
}

.form-card {
    padding: 1.5rem;
    --background: rgba(255, 255, 255, .3);
    border-radius: 1rem;
    margin-top: 2rem;
    border-color: rgb(255, 255, 255, .55);
    border-style: solid;
    border-width: 2px;
}

.action-button {
    --background: #342B66;
    --ion-font-family: 'Poppins', sans-serif;
    text-transform: none;
    font-weight: 300;
}

.action-button-focus {
    --background: rgba(255, 255, 255, .3);
    --border-color: rgb(255, 255, 255, .55);
    --border-style: solid;
    --border-width: 2px;
    text-transform: none;
    font-weight: 300;
}

.form-input {
    margin-bottom: 1rem;
    --background: #FFFFFF;
    --border-radius: 1rem;
    font-size: 1.6rem;
}