.background {
    background: url('../../../assets/login-background.svg');
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-repeat: repeat;
    background-attachment: fixed;
    filter: blur(4.20rem);
    transform: scaleX(2) scaleY(1.2);
}

.form-card {
    padding: 1rem;
    --background: rgba(255, 255, 255, .3);
    border-radius: 2rem;
    margin-top: 2rem;
    border-color: rgb(255, 255, 255, .55);
    border-style: solid;
    border-width: 2px;
}

.action-button {
    text-transform: none;
    font-weight: 300;
    -webkit-tap-highlight-color:transparent;
}

.action-button-focus {
    --background: rgba(255, 255, 255, .3);
    --border-color: rgb(255, 255, 255, .55);
    --border-style: solid;
    --border-width: 2px;
    text-transform: none;
    font-weight: 300;
    -webkit-tap-highlight-color:transparent;
}

.form-input {
    margin-bottom: 1rem;
    --background: rgba(255, 255, 255, .7);
    font-size: 1rem;
    --highlight-color-focused: #342B66;
    --padding-start: 1.5rem;
}

.input-fill-outline {
    --border-radius: 1.5rem;
  }