<!--&lt;!&ndash;<div class="main">&ndash;&gt;-->
<!--&lt;!&ndash;    <img src="assets/line-logo.svg" class="logo">&ndash;&gt;-->
<!--&lt;!&ndash;    <app-auth-mode-switch class="switch"></app-auth-mode-switch>&ndash;&gt;-->
<!--&lt;!&ndash;    <app-auth-form class='form'></app-auth-form>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="back"></div>&ndash;&gt;-->

<!--&lt;!&ndash;<ion-header>ceva</ion-header>&ndash;&gt;-->
<!--<ion-content [fullscreen]='true'>-->
<!--&lt;!&ndash;    <ion-img src='assets/line-logo.svg' class='logo'></ion-img>&ndash;&gt;-->
<!--&lt;!&ndash;    <app-auth-mode-switch class='switch'></app-auth-mode-switch>&ndash;&gt;-->
<!--&lt;!&ndash;    <app-auth-form class='form'></app-auth-form>&ndash;&gt;-->
<!--    <h1>Ceva</h1>-->
<!--</ion-content>-->

<ion-content class="ion-padding">
    <h1>Content</h1>
</ion-content>

