.cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem 1rem 2rem 3rem;
  overflow-x: auto;

  &::-webkit-scrollbar-track {
    margin-bottom: 1.4rem !important;
  }
}

ion-content {
  --background: transparent;
}

ion-accordion-group {
  display: none;
}

@media(max-width: 992px) {
  .cards-grid {
    padding: 3rem 1rem 2rem 1rem;
  }
}

@media(max-width: 480px) {
  * {
    background: transparent;
    --background: transparent;
  }
  .cards-grid {
    display: none;
  }
  ion-accordion-group {
    background: rgba(var(--ion-color-back-secondary-rgb), 0.5);
    display: block;
    margin: 1.7rem 1rem 1rem 1rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  }

}

ion-accordion-group {
  app-absences-accordion {
    ion-accordion {
      ion-item {
        --background: red !important;
        --border-color: red;
      }
    }
  }
}
