:host {
  overflow-y: hidden;
  width: 80%;
}

.container {
  overflow-y: hidden;
  padding: 10px 0 10px 0;
  background: var(--secondaryCard);
  border-radius: 35px;
  //border: 1px solid var(--cardBorder);
  margin: 25px 30px 10px 56px;
}

.category-title {
  display: flex;
  justify-content: space-between;
  margin-left: 35px;
}

h3 {
  margin: 0;
  font-weight: 400;
  color: rgba(var(--textColor), .9);
}

.arrow {
  margin-right: 20px;
}

.assignment {
  display: flex;
  justify-content: space-between;
  background-color: var(--boxColor);
  margin: 5px 20px 20px 20px;
  padding: 10px 30px 10px 30px;
  border-radius: 25px;
}

.title {
  font-weight: 300;
  margin: 0;
}

.due-date {
  font-weight: 300;
  margin: 0;
  color: rgba(var(--textColor), .7);
}

.class-label {
  display: flex;
  height: 30px;

  img {
    object-fit: contain;
  }
}

.class-name {
  margin: 0;
  font-weight: 300;
  color: rgba(var(--textColor), .85);
}

.shadow {
  box-shadow: 0 0 40px -9px rgba(0, 0, 0, 0.25);
  position:relative;
}

.create-date {
  font-weight: 200;
  margin: 0;
  color: rgb(var(--textColor));
}