.icon-elements {
  display: flex;
  width: 100%;
  height: 1.9rem;
  justify-content: flex-end;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

ion-card-content {
  font-size: 1.1rem;
  padding: 0;
  width: 100%;
  color: rgba(var(--ion-color-text-rgb), 0.9);
}

.announcement-subject {
  font-size: 1.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 70%;
  white-space: nowrap;
  color: rgba(var(--ion-color-text-rgb), 0.8)
}

.announcement-date {
  font-size: 1rem;
  width: 100%;
  text-align: right;
  font-weight: 300;
  color: rgba(var(--ion-color-text-rgb), 0.8)
}

ion-list {
  background: transparent;

  --offset-bottom: hidden !important;
  --overflow: hidden;
  overflow: auto;


  &::-webkit-scrollbar-track {
    margin-bottom: 1.4rem;
  }
}

ion-card {
  max-width: 62.5rem;
  margin: 0 1rem 1rem 3rem;
  border-radius: 1.25rem;
  --background: rgba(var(--ion-color-back-tertiary-rgb), 0.7);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.7rem 1.5rem;
}

ion-card:first-child {
  margin-top: 3rem
}

ion-img {
  width: 1.6rem;
  margin-right: 3px;
}

ion-card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  color: var(--ion-color-text);
}

.mobile {
  display: none;
}

@media(max-width: 992px) {
  ion-card {
    margin: 0 1rem 1rem 1rem;
  }
}

@media(max-width: 768px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  ion-card {
    margin: 1.7rem 1rem 1rem 1rem;
  }

  h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }

  ion-card-title {
    font-size: 1.1rem;
  }

  ion-card-header {
    width: 90%;
    padding: 0;
  }

  ion-card-content {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  ion-img {
    width: 2rem;
  }

  ion-card-subtitle {
    color: rgba(var(--ion-color-text-rgb), 0.7);
  }

  .date {
    font-weight: 400;
  }

  ion-card {
    --background: rgba(var(--ion-color-back-secondary-rgb), 0.5);
  }
}
