<div class='outer'>
    <div class='card' *ngFor='let item of data'>
        <div class='outer-card-title bottom-line'>
            <h3 class='card-title text-overflow'>{{item.title}}</h3>
        </div>
        <div class='card-contents-all hover-scrollbar'>
            <div class='card-contents' *ngFor='let grade of item?.grades'>
                <div class='contents-grade'>{{grade.grade}}</div>
                <div class='contents-date'>{{grade.date}}</div>
            </div>
        </div>
        <h3 [class.top-line]="item?.grades.length > 1" class='average-grade'>{{ item?.grades.length>1?calculateAverage(item?.grades).toFixed(2):'' }}</h3>
    </div>
</div>