//:host {
//  overflow-y: auto;
//  overflow-x: hidden;
//  margin-bottom: 1.9rem;
//}
//
//.card {
//  flex-direction: column;
//  width: 17.5rem;
//  height: 17.5rem;
//}
//
//.card-title {
//  padding-top: 0.3rem;
//  font-size: 1.4rem;
//  width: 100%;
//  line-height: 120%;
//  overflow: hidden;
//  line-clamp: 2;
//}
//
//.outer-card-title {
//  min-height: 28%;
//  margin-bottom: 0;
//  display: flex;
//  flex-direction: column;
//  align-items: flex-start;
//  justify-content: center;
//  width: 80%;
//}
//
//.card-contents {
//  display: flex;
//  flex-direction: row;
//  align-items: center;
//  justify-content: center;
//  width: 100%;
//  gap: 2.5rem;
//}
//
//.card-contents-all {
//  display: flex;
//  flex-direction: column;
//  justify-content: flex-start;
//  height: 73%;
//  width: 100%;
//  overflow-y: auto;
//}
//
//.contents-date {
//  font-size: 1.4rem;
//}
//
//.contents-grade {
//  font-size: 1.5rem;
//  width: 1.9rem;
//  text-align: right;
//}
//
//.average-grade {
//  display: flex;
//  flex-direction: column;
//  font-size: 1.6rem;
//  margin-top: 1.25rem;
//  margin-bottom: 0.5rem;
//  width: 80%;
//  text-align: center;
//  height: 3.75rem;
//  align-items: center;
//  justify-content: flex-end;
//}
//
//.outer {
//  display: flex;
//  flex-wrap: wrap;
//  gap: 1.9rem;
//  padding: 1.25rem 0 1.25rem 3.5rem;
//}

.cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem 0 2rem 3rem;
  overflow-x: auto;
}

ion-card-title, ion-label, h2 {
  color: var(--ion-color-text);
  font-size: 1.4rem;
  font-weight: 500;
}

ion-card {
  width: 17.5rem;
  height: 17.5rem;
  display: flex;
  flex-direction: column;
  --background: rgba(var(--ion-color-back-tertiary-rgb), 0.7);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 1.6rem;
  border: 1px solid rgba(var(--ion-color-text-rgb), 0.2);
}

ion-list {
  height: 100%;
  background: transparent;

  --offset-bottom: hidden !important;
  --overflow: hidden;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(var(--ion-color-medium-rgb), 0.7);
  }

  .inner-scroll {
    scrollbar-width: thin;
  }
}

ion-item {
  --border-color: rgba(var(--ion-color-text-rgb), 0.5);
  --background: transparent;
}

.md {
  ion-item {
    --border-color: rgba(var(--ion-color-text-rgb), 0.25);
  }
}

.card-footer {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 0.8rem 0;
  }
}

.footer-border {
  border-top: 0.5px solid rgba(var(--ion-color-text-rgb), 0.5);
  margin: 0 1rem;
}

.grade {
  font-size: 1.2rem;
  padding: 0 1.25rem;
  color: var(--ion-color-text);
  height: 2.1rem;
}

.grade-date {
  font-weight: 300;
}

.grade-grade {
  font-size: 1.3rem;
  width: 2rem;
  text-align: right;
}

ion-accordion-group {
  display: none;
}

@media(max-width: 480px) {
  * {
    background: transparent;
    --background: transparent;
    //background: rgba(var(--ion-color-back-tertiary-rgb), 0.7);
  }
  .cards-grid {
    display: none;
  }
  ion-accordion-group {
    background: rgba(var(--ion-color-back-tertiary-rgb), 0.7);;
    display: block;
    margin: 1rem;
    border-radius: 1.25rem;
  }
  p {
    color: var(--ion-color-text);
    font-size: 1rem;
  }
  //.ion-accordion-toggle-icon {
  //  color: var(--ion-color-text);
  //}
  ion-accordion {
    ion-icon {
      color: rgba(var(--ion-color-text), 0.9);
    }

    .ion-accordion-toggle-icon {
      color: white
    }
  }
  ion-accordion:first-child {
    border-radius: 1.25rem 1.25rem 0 0;
  }
  ion-accordion:last-child {
    border-radius: 0 0 1.25rem 1.25rem;
  }
  ion-content {
    --background: transparent;
  }
}
