:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-option {
  border-radius: 16px;
  border: none;
  background-color: var(--optionNotSelectedColor);
  padding: 10px 16px 10px 16px;
  color: rgba(var(--textColor), 0.5);
  font-size: 16px;

  &:hover {
    background-color: var(--navButtonHover);
    cursor: pointer;
  }
}

.nav {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.main-title {
  color: rgb(var(--textColor));
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 6px;
  margin-top: 40px;
}

.top-bar {
  margin-left: 56px;
}

.highlight {
  background: var(--optionSelectedColor) !important;
  color: rgb(var(--textColor)) !important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}
