ion-header {
  box-shadow: none;

  ion-title {
    margin-left: 3rem;
    padding: 0;
    color: var(--ion-color-text);
    font-size: 3.25rem;
    font-weight: 600;
    margin-top: 3rem;
  }
}

ion-chip {
  height: 2.8rem;
  margin-right: 0.7rem;
  padding: 0 1rem;
  font-size: 1rem;
  --background: rgba(var(--ion-color-back-tertiary-rgb), 0.35);
  color: rgba(var(--ion-color-text-rgb), 0.6);
  margin-bottom: 0.5rem;
  flex-shrink: 0;
  min-width: max-content;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.active {
  background: rgba(var(--ion-color-selected-rgb), 0.7);
  color: var(--ion-color-text);
  box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

.chips {
  --background: transparent;
  padding: 0.7rem 2rem 0 3rem;
  overflow-x: auto;

  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none; /* For Chrome, Safari and Opera */
  }
}

ion-item {
  --background: transparent;
  display: flex;
  align-items: flex-end;

  ion-img {
    width: 2.2rem;
    display: none;
  }
}

@media (max-width: 992px) {
  ion-header {
    ion-title {
      font-size: 1.5rem;
      margin-left: 1rem;
      margin-bottom: 0;
    }
  }
  .chips {
    padding-left: 1rem;
  }
  ion-chip {
    height: 2.2rem;
    font-size: 0.75rem;
    --background: rgba(var(--ion-color-back-secondary-rgb), 0.45);
  }
  ion-img {
    display: block;
  }
}
