<div class="top-bar">
    <h1>Overall average: 10</h1>
    <div class="nav" *ngIf="showNav">
        <button [ngClass]="getHref().includes('assignments')?'highlight':''" routerLink="assignments/assigned">Assignments</button>
        <button [ngClass]="getHref().includes('announcements')?'highlight':''" routerLink="announcements">Announcements</button>
        <button [ngClass]="getHref().includes('grades')?'highlight':''" routerLink="grades">Grades</button>
        <button [ngClass]="getHref().includes('attendance')?'highlight':''" routerLink="attendance">Attendance</button>
    </div>
</div>
<router-outlet></router-outlet>