<div class="top-bar">
    <h1 class="main-title">Overall average: 10</h1>
    <div class='nav'>
        <button class="nav-option" [class.highlight]="getHref().includes('assignments')" routerLink="assignments/assigned">Assignments</button>
        <button class="nav-option" [class.highlight]="getHref().includes('announcements')" routerLink="announcements">Announcements</button>
        <button class="nav-option" [class.highlight]="getHref().includes('grades')" routerLink="grades">Grades</button>
        <button class="nav-option" [class.highlight]="getHref().includes('attendance')" routerLink="attendance">Attendance</button>
    </div>
</div>
<router-outlet></router-outlet>