<div class="outer">
    <div class='card' *ngFor='let item of data'>
        <div class='outer-card-title'>
            <h2 class='card-title text-overflow'>{{item.title}}</h2>
        </div>
        <div class='first-line'></div>
        <div class='card-contents-all'>
            <div class='card-contents' *ngFor='let attendance of item?.attendance'>
                <div class='contents-date' [ngStyle]='{"text-decoration-line": attendance.excused?"line-through": "none"}'>{{attendance.date}}</div>
            </div>
        </div>
    </div>
</div>